body {
  max-width: 1000px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head1 > img {
  width: 100px;
  height: 20px;
  margin-left: 20px;
  margin-top: 5px;
  display: block;
}
.head2 {
  display: flex;
  justify-items: right;
  margin: 5px;
}
.head-item {
  color: gray;
  margin: 10px;
}
.firstview {
  width: 100%;
  position: relative;
}
.firstview-img > img {
  width: 60%;
  margin: 0 0 0 auto;
  display: block;
}
.firstview-text {
  position: absolute;
  top: 60px;
  left: 100px;
}
.firstview-text1 {
  font-size: 48px;
  color: #a63683;
  font-family: "Indie Flower", cursive;
  line-height: 70px;
  margin-top: -25px;
  margin-left: 95px;
}
.firstview-text2 {
  font-size: 16px;
  color: #a63683;
  margin-left: 95px;
  margin-top: 40px;
  font-weight: bold;
}

.firstview-text1 > span,
.firstview-text2 > span {
  color: #009c9c;
}
.firstview-text3 {
  color: gray;
  margin-left: 95px;
  line-height: 20px;
  font-size: 12px;
  margin-top: 12px;
}

/* news */
/* news */
.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.news-1 {
  width: 50%;
  margin-left: 0;
  color: #a63683;
  font-family: "Indie Flower", cursive;
}
.news-2 {
  width: 50%;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #525252;
  font-weight: bold;
}
.news-content {
  width: 50%;
  margin-left: 0;
}
.news-content-border {
  background-color: gray;
  width: 100%;
  height: 2px;
}
.news-content-00 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.news-content-0 {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.news-content-1 {
  font-size: 12px;
  color: gray;
}
.news-content-2 {
  font-size: 12px;
  color: white;
  background-color: #a63683;
  border-radius: 20px;
  padding: 2px 8px;
  margin: 0px 10px;
}
.news-content-3 {
  font-size: 12px;
  color: gray;
}
.news-content-4 {
  background-color: gray;
  width: 100%;
  height: 1px;
}

/* tec */
/* tec */
.tec {
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 50px;
}
.tec-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tec-title1 {
  color: #a63683;
  font-family: "Indie Flower", cursive;
  margin-top: 30px;
  margin-bottom: 10px;
}
.tec-title2 {
  margin-bottom: 30px;
  font-weight: bold;
}
.tec-content {
  display: flex;
  justify-content: space-between;
}
.tec-content-text {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.tec-content-text1,
.tec-content-text2 {
  margin-bottom: 30px;
}
.tec-content-img1 {
  width: 38%;
  margin-right: 50px;
  margin-bottom: 50px;
}
.tec-content-img1 > img {
  width: 100%;
}

/* service */
/* service */
.service {
  width: 100%;
  margin-top: 50px;
}
.service0 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-title {
  width: 90%;
  margin-left: 0;
}
.service-title1 {
  color: #a63683;
  font-family: "Indie Flower", cursive;
  margin-bottom: 10px;
}
.service-title2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.service-grid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
}
.service-grid1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #a63683;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-grid1 > img {
  width: 100px;
  margin-top: 70px;
}
.service-grid2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #a66391;
}
.service-grid2-1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.service-grid2-2 {
  margin: 50px 15px;
}
.service-grid2-1 > img {
  width: 100px;
  margin: 50px 15px;
}
.service-grid3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #a6859b;
}
.service-grid3-1 {
  display: flex;
  justify-content: space-between;
}
.service-grid3-2 {
  margin: 50px 15px;
}
.service-grid3-1 > img {
  width: 100px;
  margin: 50px 15px;
}
.service-grid4 {
  color: white;
  font-weight: bold;
  margin: 10px;
}
.service-grid5 {
  color: white;
  line-height: 30px;
}
.service-grid6 {
  color: white;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: 10px;
}

/* blog */
/* blog */
.blog {
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 50px;
  padding-bottom: 30px;
}
.blog0 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog0-title {
  width: 90%;
  margin-left: 0;
  margin-top: 30px;
}
.blog0-title1 {
  color: #a63683;
  font-family: "Indie Flower", cursive;
  margin-bottom: 15px;
}
.blog0-title2 {
  margin-left: 0;
}
.blog0-image {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.blog0-image0 {
  width: 30%;
  height: 310px;
  border-radius: 20px;
  position: relative;
  background: white;
  margin-top: 30px;
}
.blog0-image0-blog {
  background-color: #a63683;
  color: white;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  text-align: center;
  padding: 5px;
  border-radius: 20px 0 0 0;
}
.blog0-image1 > img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.blog0-image2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px;
}
.blog0-image0-content {
  width: 95%;
  margin-top: 30px;
}
.blog0-image0-footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: gray;
  flex-wrap: wrap;
}
.blog0-button {
  margin-top: 30px;
  color: #a63683;
  background-color: white;
  border: solid 1px #a63683;
  padding: 10px 20px;
  border-radius: 20px;
}

/* company */
/* company */
.company {
  width: 100%;
  background-color: white;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company0 {
  width: 60%;
}
.company0-1 {
  margin-top: 60px;
  color: #a63683;
  font-family: "Indie Flower", cursive;
}
.company0-2 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.company0-table {
  margin-top: 30px;
  width: 100%;
}
.company00-table0 {
  table-layout: fixed;
  width: 100%;
}
.company00-table0-th {
  width: 30%;
  background-color: #f8f8f8;
  text-align: left;
  padding: 15px;
  border: solid 1px gray;
}
.company00-table0-td {
  text-align: left;
  padding: 15px;
  border: solid 1px gray;
  color: gray;
}

/* photo */
/* photo */
.photo {
  margin-top: 100px;
  width: 100%;
}
.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.photo-grid1 {
  grid-column: 1/2;
  position: relative;
}
.photo-grid1-text1 {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo-grid2 {
  grid-column: 2/3;
  position: relative;
}
.photo-grid2-text1 {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo-grid img {
  width: 100%;
  object-fit: cover;
}

/* contact */
/* contact */
.contact {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-bar {
  background-color: #a63683;
  width: 2px;
  height: 30px;
  margin: 20px;
}
.contact-botton {
  color: white;
  background: linear-gradient(to right, #ff69b4, #a63683);
  padding: 20px 70px;
  border-radius: 50px;
  box-shadow: 0 5px #a63683;
  position: relative;
}
.contact-botton::before {
  content: "";
  background: url(img/mailicon.svg);
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  background-size: cover;
  width: 30px;
  height: 30px;
}
.footer {
  background-color: #f8f8f8;
  color: gray;
  padding: 10px;
  display: flex;
  justify-content: center;
}
